*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navegacao{
    margin: 4% 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 51px;
    font-size: 2rem;
}

.navegacao__link{
    color: #ffffff;
}

body {
    height: 100vh;
    background-image: url(assets/universo.jpg);
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5%;
    gap: 120px;
   
}
.img__homem{
    width: 400px;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.conteudo__titulo{
    font-size: 6rem;
    color: #ffffff;
    width: 100%;
}

.conteudo__paragrafo {
    font-size: 2.4rem;
    padding-top: 10%;
    color: #ffffff;
}
.cadastro{
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    border: 5px solid;
    margin-top: 8%;
    border-radius: 25px;
    width: 210px;
    background-color: #FFEAE0;
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .conteudo{
        flex-direction: column;
    }
    .navegacao{
        justify-content: flex-start;
        margin: 8% 10%;

    }
}   