* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
}

body{
    background-image: url(assets/back.jpg);
    color: #ffffff;
}

.conteudo__1{
    width: 66%;
    margin: 5%;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    padding: 2%;
    border: white solid;
}
.botao {
    font-size: 2rem;
    margin: 5% 0;
    display: flex;
    text-decoration: none;
    border-radius: 40px;
    width: 165px;
    justify-content: center;
    background-color: #918c8c;
    color: #ffffff;
    padding: 1%;
}

h1{
    font-size: 3rem;
    margin: 8% 0px;
}

.conteudo__1__paragrafo{
    font-size: 2rem;
}

.conteudo__2{
    margin: 0 5%;
    display: flex;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2%;
    border: white solid;
}

.conteudo__2__titulo{
    font-size: 1.8rem;
}
.conteudo__2__paragrafo{
    font-size: 1.3rem;
}

.argumento{
    display: flex;
    flex-direction: column;
    padding: 0 2%;
    gap: 30px;

}

@media screen and (max-width: 1149px) {
    .conteudo__2 {
        flex-direction: column;
        gap: 70px;
    }

    .conteudo__1 {
        gap: 70px;
        display: flex;
        flex-direction: column;
        width: 90%;
    }



}